# Opera Software - BI Intern Competence Test

In [47]:
import pandas as pd
from pandas.io import gbq

The provided dataset has been loaded into a database on Google BigQuery

In [48]:
df = gbq.read_gbq("SELECT * FROM test_data.PRODUCT", project_id="opera-220120")

We have now connected to the database on Google BigQuery. Let's take a quick glance at the data we are going to work with

In [49]:
df.head()

,partition_date,timeperiod,country,full_version,news_locale,channel,source,impressions,clicks,active_users,new_users,retained_01,retained_07,retained_30
0,2018-06-02,2018-06-01,HF,3.3.2254.127986,hw:en,Cross-Promo,Unprecedented_2,NaN,NaN,NaN,NaN,4.0,NaN,NaN
1,2018-06-02,2018-06-01,BF,2.4.2254.127188,ba:fr,Cross-Promo,Widespread_4,NaN,NaN,NaN,NaN,3.0,NaN,NaN
2,2018-06-02,2018-06-01,BF,3.3.2254.127986,ba:fr,Cross-Promo,Widespread_4,NaN,NaN,NaN,NaN,10.0,NaN,NaN
3,2018-06-02,2018-06-01,JE,3.3.2254.127986,lv:fr,Cross-Promo,Widespread_4,NaN,NaN,NaN,NaN,11.0,NaN,NaN
4,2018-06-02,2018-06-01,JE,2.4.2254.127188,lv:fr,Cross-Promo,Widespread_4,NaN,NaN,NaN,NaN,4.0,NaN,NaN

The first thing we see is that there are several null values. Let us check how prevelent this is

In [77]:
df.count()/len(df)*100

partition_date    100.000000
timeperiod        100.000000
country           100.000000
full_version      100.000000
news_locale       100.000000
channel           100.000000
source            100.000000
impressions        39.927218
clicks             37.647839
active_users       50.300488
new_users          50.300488
retained_01         5.805593
retained_07         4.523071
retained_30         3.476683
dtype: float64

The table above shows the percentage of data we have for each comulmn that is not null

Let us find out the time range the data covers

In [51]:
max(df["partition_date"])

Timestamp('2018-08-30 00:00:00')

In [52]:
min(df["partition_date"])

Timestamp('2018-06-01 00:00:00')

The data covers three months. From first of June to 30th of August 2018.

In [58]:
out = df.groupby(["country", "timeperiod"]).sum().groupby("country")["new_users"].mean()
out

country
BF    1225.262295
DC    2870.360656
GT    2201.688525
HF    2455.672131
IB    1568.590164
JE    1613.098361
JY     661.688525
KI    1804.049180
LP     169.622951
LQ     830.213115
LY     144.213115
OU     355.491803
RE    2448.491803
RO     399.754098
TT     763.262295
TZ     302.819672
UF    2678.606557
WA     226.065574
XJ    1225.213115
ZY    2368.557377
Name: new_users, dtype: float64

This is the average daily new users for the three month period

In [121]:
june = df[pd.to_datetime(df["timeperiod"]).dt.month == 6]
top_ten_sources_june = june.groupby(["source"]).sum().nlargest(10, "new_users")

In [78]:
july = df[pd.to_datetime(df["timeperiod"]).dt.month == 7]

In [101]:
df_top_ten_july = july.loc[july["source"].isin(list(top_ten_sources_june.index.values))]

In [109]:
df_top_ten_july.groupby(["source", "timeperiod"]).sum().groupby("source")["active_users"].mean().sort_values(ascending=False)

source
Cryptic_4       84564.870968
Indeed_1        48873.000000
Professor_7     47671.741935
Latent_4        44108.903226
Febrile_8       32720.161290
Widespread_4    10841.838710
Dreams_4        10091.935484
Learned_3        8253.225806
Family_1         7716.000000
Returned_5       7142.129032
Name: active_users, dtype: float64

This is the average active user in July for the top ten sources by user count in June